.feed {
    width: 100%;
    height: 100%;
}

.feed header {
    width: 100%;
    border-bottom: 1px solid var(--clr-border-light);
}

.flex-btns {
    --indicator: 0;
    --btn-width: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.flex-btns::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(var(--btn-width) * var(--indicator));
    background-color: var(--clr-accent);
    height: 2px;
    width: var(--btn-width);
    transition: .35s ease-out;
}

.flex-btns button {
    width: var(--btn-width);
    padding: 1rem 0;
    font-size: 1.1rem;
    cursor: pointer;
    user-select: none;
}

.flex-btns button:hover {
    background-color: var(--clr-background-light);
}

.recent-searches {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 1rem;
}

.job-feed {
    justify-content: center;
    gap: 2rem;
    padding: 3rem 1rem;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.job-feed__lg {
    display: grid;
    grid-template-columns: var(--excerpt-width) 1fr;
}

.job-feed__md {
    display: flex;
}

.job-feed__list {
    display: flex;
    flex-direction: column;
    width: var(--excerpt-width);
}

.job-feed__description {
    height: 100%;
}

.result-p {
    font-size: .9rem;
    color: var(--clr-font-light);
    text-align: center;
}

@media (max-width: 768px) {
    .flex-btns {
        --btn-width: 160px;
    }
}

@media (max-width: 500px) {
    .flex-btns button {
        font-size: 1.1rem;
    }
}