.toast {
    --clr-icon: var(--clr-accent-secondary);
    display: flex;
    height: 45px;
    gap: 1rem;
    align-items: center;
    padding: .75rem;
    border-radius: 4px;
    margin: .5rem 0;
    background-color: var(--clr-icon);
    color: var(--clr-black);
    transition: all .2s ease-out;
}

.msg-sm {
    width: 350px;
}

.error {
    --clr-icon: #f54140;
    color: #fff;
}

.success {
    --clr-icon: #1ed760;
}

.toast-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast-msg,
.msg-txt {
    font-weight: 600;
    font-size: .8rem;
}

.msg-txt {
    flex-grow: 1;
}

.close {
    display: flex;
    align-items: center;
    padding: .35rem;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
}

.close:hover {
    border-color: var(--clr-black);
}

.error .close:hover {
    border-color: var(--clr-white);
}